body {
  text-align: center;
  font-family: 'Merriweather';
  background: linear-gradient(0deg, rgba(208,199,178,1) 27%, rgba(249,248,211,1) 65%, rgba(250,247,247,1) 80%);
  margin: 0;
  padding: 0;
}
#main {
  text-align: center;
}
img {
  max-width: 100%;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
}
#img-div {
  max-width: 100%;  
  background-size: 25%;
  padding-bottom: 3rem;
  }
#img-caption {
  max-width: 1000px;
  margin: auto;
  color:saddlebrown ;
  background-color:antiquewhite;
  opacity: 0.8;
  font-size: 2rem;
  font-family: 'Cutive Mono';
  font-weight: bold;
  padding: 2rem;
}
ul {
  text-align: left;
  width: 50%;
  margin: auto; 
}
#tribute-quote {
  font-family: 'Homemade Apple';
  font-size: 1.5rem;
  font-style: italic;
  padding: 1rem;
}
#tribute-info {
  max-width: 600px;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}    
#table {
  max-width: 800px;
  margin: auto;
  text-align: left;
  font-size: 1.5rem;
}
td {
  padding: 0.8rem;
}
#footer {
  font-size: 1.3rem;
  padding-bottom: 50px;
}
h1 {
  margin: 0rem;
  font-size: 2.5rem;
  padding-top: 3.5rem;
}
#subtitle {
  font-size: 2.3rem;
  margin-top: 10px;
  padding-bottom: 20px;
  opacity: 1.0;
  font-family: 'Mansalva';
}
#best_novels {
  font-size: 1.8rem;
  text-align: left;
  margin-top: 2rem;
  padding: 1rem 0.5rem;
}
#portada {
  background-image: url("libros4.jpg");
  background-position: 50%, 50%;
}

/* 2022 changes*/

.fa-book:before {
  content: "\f02d";
  color: #868268;
}

.dib, b {
  display: inline-flex;
}

/* responsive*/
@media (max-width: 800px) {
  h1 {
    padding: 40px 10px 5px 10px;
  }
  #subtitle {
    font-size: 2.1rem;
    padding-bottom: 20px;
    font-weight: 600;
    margin: 0px 5px 10px 5px;
  }
  img {
  margin: 0!important;
  width: 100vh;
  }
  #img-div {
    padding-bottom: 0px;
  }
  #img-caption {
    font-size: 1.7rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
      scroll-behavior: smooth;
  }
}
